force-app/main/default/flows/Criacao_de_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Qualificacao_Atendimento</name>
        <label>Qualificação Atendimento</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Qualificacao_Feiras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Atendimento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_do_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualificado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordType_Atendimento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordtypeLead</targetReference>
            </connector>
            <label>Atendimento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualificacao_Feiras</name>
        <label>Qualificação Feiras</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feiras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_do_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualificado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeFeiras</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordtypeLeadFeiras</targetReference>
            </connector>
            <label>Feiras</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Criar Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criação de Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Lead</name>
        <label>Criar Lead</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Qualificacao_Feiras</targetReference>
        </connector>
        <inputAssignments>
            <field>CNAE_Divisao__c</field>
            <value>
                <elementReference>$Record.CNAE_Divisao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNAE__c</field>
            <value>
                <elementReference>$Record.CNAE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ_CPF__c</field>
            <value>
                <elementReference>$Record.CNPJ_CPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Social__c</field>
            <value>
                <elementReference>$Record.Capital_Social__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cargo__c</field>
            <value>
                <elementReference>$Record.Cargo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Cidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Razao_Social__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gerencia_Regional__c</field>
            <value>
                <elementReference>$Record.Gerencia_Regional__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Origem_do_prospect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Celular__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeDaCampanha__c</field>
            <value>
                <elementReference>$Record.Campanha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>$Record.Nome_fantasia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es__c</field>
            <value>
                <elementReference>$Record.Observacoes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Telefone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Qualificado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeLead_Atendimento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Trabalhando_contatado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Endereco__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidades_de_Atendimento__c</field>
            <value>
                <elementReference>$Record.Unidade_de_Atendimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rea__c</field>
            <value>
                <elementReference>$Record.Area__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_Lead_Feiras</name>
        <label>Criar Lead Feiras</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>CNAE_Divisao__c</field>
            <value>
                <elementReference>$Record.CNAE_Divisao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNAE__c</field>
            <value>
                <elementReference>$Record.CNAE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ_CPF__c</field>
            <value>
                <elementReference>$Record.CNPJ_CPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Social__c</field>
            <value>
                <elementReference>$Record.Capital_Social__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cargo__c</field>
            <value>
                <elementReference>$Record.Cargo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Cidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Razao_Social__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gerencia_Regional__c</field>
            <value>
                <elementReference>$Record.Gerencia_Regional__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Origem_do_prospect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Celular__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeDaCampanha__c</field>
            <value>
                <elementReference>$Record.Campanha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>$Record.Nome_fantasia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observa_es__c</field>
            <value>
                <elementReference>$Record.Observacoes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Telefone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.CEP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Qualificado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeLead_Feiras</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Trabalhando_contatado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Endereco__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidades_de_Atendimento__c</field>
            <value>
                <elementReference>$Record.Unidade_de_Atendimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rea__c</field>
            <value>
                <elementReference>$Record.Area__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RecordTypeAtendimento</name>
        <label>RecordTypeAtendimento</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Qualificacao_Atendimento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospects_do_Atendimento</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_Atendimento</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeFeiras1</name>
        <label>RecordTypeFeiras</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeAtendimento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospects_de_Feiras</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeFeiras</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordtypeLead</name>
        <label>RecordtypeLead</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Criar_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leads_do_Atendimento</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeLead_Atendimento</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordtypeLeadFeiras</name>
        <label>RecordtypeLeadFeiras</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Criar_Lead_Feiras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leads_de_Feiras</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeLead_Feiras</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordTypeFeiras1</targetReference>
        </connector>
        <object>Prospect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordType_Atendimento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeFeiras</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeLead_Atendimento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeLead_Feiras</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
