force-app/main/default/flows/E_mail_Alerta_Reembolso_Aprova_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_E_mail_Relat_rio_Reembolso</name>
        <label>Enviar E-mail Relatório Reembolso</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>monica_vargas@ciee.org.br</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Relatório Km Pendente de Aprovação - Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailAlertaReembolso</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Solicitantes</name>
        <label>Solicitantes</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gerentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Cargo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gerente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_E_mail_Relat_rio_Reembolso</targetReference>
            </connector>
            <label>Gerentes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>E-mail Alerta Reembolso Aprovação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-mail Alerta Reembolso Aprovação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Solicitantes</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enviado_para_o_Relatorio</stringValue>
            </value>
        </filters>
        <object>Despesa_e_Reembolso__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailAlertaReembolso</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Olá! Tudo bem?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Você possui relatórios de reembolso km pendentes de sua aprovação no Salesforce.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://cieesp.lightning.force.com/lightning/n/Despesas_e_Rembolso_Aprovacao&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: verdana;&quot;&gt;Clique aqui&lt;/a&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; para acessar o ambiente de aprovações.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Lembre-se que após as aprovações no Salesforce, você deverá receber em até 30 minutos um e-mail enviado pelo Totvs/Protheus para confirmar as aprovações.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Tenha um ótimo dia!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
