force-app/main/default/flows/FLAprovacao01.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AS01AlterarEnviado</name>
        <label>AS01 - Alterar para Enviado</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ForDepesas.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enviado_para_o_Relatorio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AS04AdicionarListaAtualizacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS02AlterarReprovado</name>
        <label>AS02 - Alterar para Reprovado</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ForDepesas.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recusado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AS04AdicionarListaAtualizacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS03AlterarAprovado</name>
        <label>AS03 - Alterar para Aprovado</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ForDepesas.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AS04AdicionarListaAtualizacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS04AdicionarListaAtualizacao</name>
        <label>AS04 - Adicionar na Lista de atualização</label>
        <locationX>660</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>lstDespesas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForDepesas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForDepesas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DC01QualStatus</name>
        <label>DC01 - Qual Status?</label>
        <locationX>660</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Pendente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AS01AlterarEnviado</targetReference>
            </connector>
            <label>Pendente</label>
        </rules>
        <rules>
            <name>Reprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AS02AlterarReprovado</targetReference>
            </connector>
            <label>Reprovado</label>
        </rules>
        <rules>
            <name>Aprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AS03AlterarAprovado</targetReference>
            </connector>
            <label>Aprovado</label>
        </rules>
    </decisions>
    <description>Altera o status de aprovação das despesas e reembolsos</description>
    <environments>Default</environments>
    <interviewLabel>FL Aprovacao 01 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Aprovacao 01</label>
    <loops>
        <name>ForDepesas</name>
        <label>For Depesas</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GR01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DC01QualStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UP01AtualizarLista</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GR01</name>
        <label>GR01 - Buscar Despesas</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForDepesas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aprovacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Despesa_e_Reembolso__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UP01AtualizarLista</name>
        <label>UP01 - Atualizar Lista</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>lstDespesas</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AprovacaoDespesaReembolso__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstDespesas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Despesa_e_Reembolso__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
