force-app/main/default/flows/FLAprovacao07.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AS02AlteraStatusDespesas</name>
        <label>AS02 - Altera status das despesas</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enviado_para_o_Relatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_1.Aprovacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newApprovalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAprovacoes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_o</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DC01_RegistroRejeitado</name>
        <label>DC01 -  É o Registro Rejeitado?</label>
        <locationX>352</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>AS02AlteraStatusDespesas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimEh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GR02_AprovacaoAtual.DespesaRejeitada__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Clonar Aprovação de Despesas</description>
    <environments>Default</environments>
    <interviewLabel>FL Aprovação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Aprovação 07</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>GR01_Despesas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DC01_RegistroRejeitado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarDespesas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>PS01CriarNovaAprovacao</name>
        <label>PS01 - Criar Nova Aprovação</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>newApprovalId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>AprovacaoDespesaReembolso__c</object>
    </recordCreates>
    <recordLookups>
        <name>GR01_Despesas</name>
        <label>GR01 - Get Despesas</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GR02_AprovacaoAtual</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aprovacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Despesa_e_Reembolso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR02_AprovacaoAtual</name>
        <label>GR02 - Get Aprovação Atual</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PS01CriarNovaAprovacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AprovacaoDespesaReembolso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarDespesas</name>
        <label>Atualizar Despesas</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <faultConnector>
            <targetReference>ScreenError</targetReference>
        </faultConnector>
        <inputReference>lstAprovacoes</inputReference>
    </recordUpdates>
    <screens>
        <name>ScreenError</name>
        <label>Screen Error</label>
        <locationX>440</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenOptions</name>
        <label>ScreenOptions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GR01_Despesas</targetReference>
        </connector>
        <fields>
            <name>DesejaClonarAprovacao</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>N_o</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Sim</defaultSelectedChoiceReference>
            <fieldText>Deseja clonar essa aprovação?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenOptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstAprovacoes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Despesa_e_Reembolso__c</objectType>
    </variables>
    <variables>
        <name>newApprovalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
