force-app/main/default/flows/FLAprovacao02.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AS01RelacionarAprovacao</name>
        <label>AS01 - Relacionar Aprovação</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ForNotasSelecionadas.Aprovacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForNotasSelecionadas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForNotasSelecionadas</targetReference>
        </connector>
    </assignments>
    <description>Adicionar Despesas e Reembolsos no registro de aprovação</description>
    <environments>Default</environments>
    <formulas>
        <name>FilterDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 60</expression>
    </formulas>
    <interviewLabel>FL Aprovacao 02 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Aprovacao 02</label>
    <loops>
        <name>ForNotasSelecionadas</name>
        <label>For Notas Selecionadas</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>DataDespesas.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AS01RelacionarAprovacao</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UP01AtualizarListaDespesasReembolsos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GR01</name>
        <label>GR01 - Buscar Despesas e Reembolsos</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenDespesas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enviado_para_o_Relatorio</stringValue>
            </value>
        </filters>
        <filters>
            <field>Data_da_Visita__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FilterDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Despesa_e_Reembolso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UP01AtualizarListaDespesasReembolsos</name>
        <label>UP01 - Atualizar Lista de Despesas e Reembolsos</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>lstUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ScreenDespesas</name>
        <label>Screen Despesas</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ForNotasSelecionadas</targetReference>
        </connector>
        <fields>
            <name>DataDespesas</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Despesa_e_Reembolso__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Despesas e Reembolsos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GR01</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ebee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome de Despesa e Reembolso&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Data_da_Visita__c&quot;,&quot;guid&quot;:&quot;column-2cb2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Data da Visita&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Duracao_da_Visita__c&quot;,&quot;guid&quot;:&quot;column-9033&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Duração da Visita&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Hora_da_Visita__c&quot;,&quot;guid&quot;:&quot;column-6cd6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Hora da Visita&quot;,&quot;type&quot;:&quot;customTime&quot;},{&quot;apiName&quot;:&quot;Nome_da_Empresa__c&quot;,&quot;guid&quot;:&quot;column-9c95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Nome da Empresa&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Km__c&quot;,&quot;guid&quot;:&quot;column-5748&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Km&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Valor_do_Reembolso_de_KM__c&quot;,&quot;guid&quot;:&quot;column-598f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Valor do Reembolso de KM&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Relação de Despesas e Reembolsos em abertos para aprovação&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Adicionar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR01</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstDespesas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Despesa_e_Reembolso__c</objectType>
    </variables>
    <variables>
        <name>lstUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Despesa_e_Reembolso__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
