force-app/main/default/flows/FLAprovacao05.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AS01AdicionarComentarioDespesas</name>
        <label>AS01 - Adicionar Comentário nas Despesas</label>
        <locationX>374</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>despesa.Motivo_da_Recusa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessInstanceStep.Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>despesa.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR01DespesasReembolsos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstUpdateDespesas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>despesa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOR01DespesasReembolsos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DC01ComentarioAprovador</name>
        <label>DC01 - O Aprovador deixou algum comentário?</label>
        <locationX>418</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessInstanceStep.Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lstDespesas</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Escreve o comentário do aprovador no motivo de recusa das Despesas e Reembolsos</description>
    <environments>Default</environments>
    <interviewLabel>FL Aprovação 05 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Aprovacao 05</label>
    <loops>
        <name>FOR01DespesasReembolsos</name>
        <label>FOR01 - Despesas e Reembolsos</label>
        <locationX>286</locationX>
        <locationY>708</locationY>
        <collectionReference>lstDespesas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AS01AdicionarComentarioDespesas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarComentariosDespesasReembolsos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lstDespesas</name>
        <label>Get Despesas e reembolsos</label>
        <locationX>286</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOR01DespesasReembolsos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aprovacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Despesa_e_Reembolso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProcessInstance</name>
        <label>Get Process Instance</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProcessInstanceStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProcessInstanceStep</name>
        <label>Get Process Instance Step</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DC01ComentarioAprovador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessInstance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarComentariosDespesasReembolsos</name>
        <label>Atualizar Comentários em Despesas e Reembolsos</label>
        <locationX>286</locationX>
        <locationY>1008</locationY>
        <inputReference>lstUpdateDespesas</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reprovado</stringValue>
            </value>
        </filters>
        <object>AprovacaoDespesaReembolso__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>RunAfterInsertComments</name>
            <connector>
                <targetReference>ProcessInstance</targetReference>
            </connector>
            <label>Run after insert comments</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>despesa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Despesa_e_Reembolso__c</objectType>
    </variables>
    <variables>
        <name>lstUpdateDespesas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Despesa_e_Reembolso__c</objectType>
    </variables>
</Flow>
