force-app/main/default/flows/FlAprovacao04.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>DC01AprovacaoNova</name>
        <label>DC01 - É uma Aprovação Nova?</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>DC02AlterouParaPendente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Nome</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC02AlterouParaPendente</name>
        <label>DC02 - Alterou para pendente?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimAlterou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlteraNomeRegistro</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Altera o nome do registro de aprovação para o Manager</description>
    <environments>Default</environments>
    <formulas>
        <name>forManager</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL({!Manager.Name}) , {!$Record.CodigoAprovacao__c} +  &apos;-&apos; +{!$Record.CreatedBy.Name} , 
 {!$Record.CodigoAprovacao__c} + &apos;-&apos; + {!Manager.Name} )</expression>
    </formulas>
    <formulas>
        <name>forManagerId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Manager.Id}), {!$Record.CreatedById}, {!Manager.Id})</expression>
    </formulas>
    <interviewLabel>Fl Aprovacao 04 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fl Aprovacao 04</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Manager</name>
        <label>Get Manager</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DC01AprovacaoNova</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AlteraNomeRegistro</name>
        <label>Altera Nome do Registro</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forManager</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Nome</name>
        <label>Atualiza Nome</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Aprovador__c</field>
            <value>
                <elementReference>forManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forManager</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manager</targetReference>
        </connector>
        <object>AprovacaoDespesaReembolso__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
