force-app/main/default/flows/FLLead01.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>DC01</name>
        <label>Encontrou algum registro duplicado:</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GR01.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Impede a criação de Leads duplicados na base de dados</description>
    <environments>Default</environments>
    <interviewLabel>FL Lead 01 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Lead 01</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GR01</name>
        <label>GR01 - Get Leads</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DC01</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 ) AND ( 4 OR 5 ) AND 6 AND 7</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>NomeDaCampanha__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LP Eventos</stringValue>
            </value>
        </filters>
        <filters>
            <field>NomeDaCampanha__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LP Indicações</stringValue>
            </value>
        </filters>
        <filters>
            <field>CNPJ_CPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CNPJ_CPF__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NomeDaCampanha__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LP Eventos</stringValue>
            </value>
        </filters>
        <filters>
            <field>NomeDaCampanha__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LP Indicações</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
