force-app/main/default/flows/FLRoundRobin01.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AS01_Round_Number_Zero</name>
        <label>AS01 - Round Number Zero</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.RoundNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DC03_RoundMidiaVazio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS02RoundNumberEqualsLast</name>
        <label>AS02 - Round Number Equals the Last</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.RoundNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR01.RoundNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DC03_RoundMidiaVazio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS03SetRoundNumber</name>
        <label>AS03 - Set Round Number</label>
        <locationX>270</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.RoundNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forRoundNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DC04_AtendeCriteriosRoundRobinMidia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS04_Round_Midia_Zero</name>
        <label>AS04 - Round Midia Zero</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.RoundMidia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DC02CriteriosRoundNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS05_Round_Midia_Equals_the_Last</name>
        <label>AS05 - Round Midia Equals the Last</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.RoundMidia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR01.RoundMidia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DC02CriteriosRoundNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AS06_AssignRoundRobinMidia</name>
        <label>AS06-Assign Round Robin for Midia</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.RoundMidia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forRoundMidia</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DC01_O_Round_Number_est_vazio</name>
        <label>DC01 - O Round Number está vazio?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>AS02RoundNumberEqualsLast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GR01.RoundNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AS01_Round_Number_Zero</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC02CriteriosRoundNumber</name>
        <label>DC02 - Está nos critérios do Round Number?</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>AS03SetRoundNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>NaoEsta</name>
            <conditionLogic>5 AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NomeDaCampanha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NomeDaCampanha__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gerencia_Regional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Gerencia_Regional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>midia_digital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC04_AtendeCriteriosRoundRobinMidia</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC03_RoundMidiaVazio</name>
        <label>DC03 - O Round Midia está vazio ou no limite máximo?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>AS05_Round_Midia_Equals_the_Last</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimVazio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GR01.RoundMidia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GR01.RoundMidia__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ForSetLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AS04_Round_Midia_Zero</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC04_AtendeCriteriosRoundRobinMidia</name>
        <label>DC04 - Atende os critérios de Round Robin com Midia?</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimAtende</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>midia_digital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AS06_AssignRoundRobinMidia</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Ajusta o &quot;Auto Number&quot; do Lead para o Round Robin</description>
    <environments>Default</environments>
    <formulas>
        <name>forRoundMidia</name>
        <dataType>Number</dataType>
        <expression>{!$Record.RoundMidia__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forRoundNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.RoundNumber__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ForSetLimit</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.RoundRobinMidiaDigitalLimit})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FL Round Robin 01 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Round Robin 01</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GR01</name>
        <label>GR01 - Get Last Lead</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DC01_O_Round_Number_est_vazio</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR01</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
