force-app/main/default/flows/FLTask01.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Owner</name>
        <label>Send Email Owner</label>
        <locationX>50</locationX>
        <locationY>1032</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Lead.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tarefa Fora do Prazo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendNotification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>lstRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Tarefa Fora do Prazo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AS01</name>
        <label>AS01 - Lead Owner</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>lstRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DC01</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DC01</name>
        <label>DC01 - É um Lead de Midia Digital?</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>midia_digital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC02</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC02</name>
        <label>DC02 - A task está em aberto?</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Não está</defaultConnectorLabel>
        <rules>
            <name>Esta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification</targetReference>
            </connector>
            <label>Está</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC03</name>
        <label>DC03 - Encontrou o Lead?</label>
        <locationX>611</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Não Encontrou</defaultConnectorLabel>
        <rules>
            <name>Encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AS01</targetReference>
            </connector>
            <label>Encontrou</label>
        </rules>
    </decisions>
    <description>Notifica Task fora do prazo</description>
    <environments>Default</environments>
    <interviewLabel>FL Task 01 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Task 01</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lead</name>
        <label>GR01 - Get Lead</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DC03</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification</name>
        <label>Get Custom Notification</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Geral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_hours_after</name>
            <connector>
                <targetReference>Lead</targetReference>
            </connector>
            <label>2 hours after</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A tarefa {!Lead.Name} está com o prazo vencido.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>lstRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
