force-app/main/default/flows/TASK_Persona_Consultor_OFICIAL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Modalide_Produto</name>
        <label>Modalide/Produto</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Aprendiz_Ativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_ativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Aprendiz_Ativa</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Aprendiz Ativa</label>
        </rules>
        <rules>
            <name>Aprendiz_Aumento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_aumento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Aprendiz_Aumento</targetReference>
            </connector>
            <label>Aprendiz Aumento</label>
        </rules>
        <rules>
            <name>Aprendiz_Queda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_queda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Aprendiz_Queda</targetReference>
            </connector>
            <label>Aprendiz Queda</label>
        </rules>
        <rules>
            <name>Aprendiz_Inativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_inativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Aprendiz_Inativa</targetReference>
            </connector>
            <label>Aprendiz Inativa</label>
        </rules>
        <rules>
            <name>Est_gio_Ativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_ativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Est_gio_Ativa</targetReference>
            </connector>
            <label>Estágio Ativa</label>
        </rules>
        <rules>
            <name>Est_gio_Aumento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_aumento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Est_gio_Aumento</targetReference>
            </connector>
            <label>Estágio Aumento</label>
        </rules>
        <rules>
            <name>Est_gio_Queda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_queda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Est_gio_Queda</targetReference>
            </connector>
            <label>Estágio Queda</label>
        </rules>
        <rules>
            <name>Est_gio_Inativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_inativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tar_Est_gio_Inativa</targetReference>
            </connector>
            <label>Estágio Inativa</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaHojeMais6</name>
        <dataType>Date</dataType>
        <expression>TODAY() +6</expression>
    </formulas>
    <formulas>
        <name>HOJE_MAIS_3</name>
        <dataType>Date</dataType>
        <expression>TODAY () + 3</expression>
    </formulas>
    <interviewLabel>[TASK] Persona Consultor OFICIAL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TASK] Persona Consultor OFICIAL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Tar_Aprendiz_Ativa</name>
        <label>Tar. Aprendiz Ativa</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaHojeMais6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa Estável - Aprendiz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tar_Aprendiz_Aumento</name>
        <label>Tar. Aprendiz Aumento</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaHojeMais6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa C/ Variação Positiva - Aprendiz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tar_Aprendiz_Inativa</name>
        <label>Tar. Aprendiz Inativa</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaHojeMais6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa Inativa - Aprendiz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tar_Aprendiz_Queda</name>
        <label>Tar. Aprendiz Queda</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HOJE_MAIS_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Alta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa C/ Variação Negativa - Aprendiz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tar_Est_gio_Ativa</name>
        <label>Tar. Estágio Ativa</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaHojeMais6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa Estável - Estágio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tar_Est_gio_Aumento</name>
        <label>Tar. Estágio Aumento</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaHojeMais6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa C/ Variação Positiva - Estágio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tar_Est_gio_Inativa</name>
        <label>Tar. Estágio Inativa</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FormulaHojeMais6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa Inativa - Estágio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tar_Est_gio_Queda</name>
        <label>Tar. Estágio Queda</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>A_o_Ref_Validade_Contrato__c</field>
            <value>
                <elementReference>$Record.A_o_Ref_Validade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HOJE_MAIS_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueio_Debito__c</field>
            <value>
                <elementReference>$Record.Possui_Bloqueio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI__c</field>
            <value>
                <elementReference>$Record.CI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Hoje__c</field>
            <value>
                <elementReference>$Record.Faturamento_Hoje__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faturamento_Que_J_Tivemos__c</field>
            <value>
                <elementReference>$Record.Faturamento_Que_J_Tivemos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obs_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.Obs_GMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Alta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Prorroga_o_Negados_Central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Prorroga_o_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Aprendiz_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Aprendiz_Negados_Central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qtdd_Reposi_o_Est_gio_negados_central__c</field>
            <value>
                <elementReference>$Record.Qtdd_Reposi_o_Est_gio_negados_central__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Jovens_Ativos__c</field>
            <value>
                <elementReference>$Record.Total_de_Jovens_Ativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade_de_Vagas__c</field>
            <value>
                <elementReference>$Record.Quantidade_de_Vagas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Empresa C/ Variação Negativa - Estágio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validade_do_Contrato__c</field>
            <value>
                <elementReference>$Record.Validade_do_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ltimo_Contato_GMC_Est_gio__c</field>
            <value>
                <elementReference>$Record.ltimo_Contato_GMC_Est_gio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Modalide_Produto</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Para_uso_do_flow__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
