force-app/main/default/flows/TASK_PERSONA_CONSULTOR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CONTA_APRENDIZ_ATIVA</name>
        <label>CONTA APRENDIZ ATIVA</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA APRENDIZ - ATIVA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CONTA_APRENDIZ_AUMENTO_DE_ATIVOS</name>
        <label>CONTA APRENDIZ - AUMENTO DE ATIVOS</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA APRENDIZ - AUMENTO DE ATIVOS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CONTA_APRENDIZ_INATIVA</name>
        <label>CONTA APRENDIZ - INATIVA</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA APRENDIZ - INATIVA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CONTA_APRENDIZ_QUEDA_DE_ATIVOS</name>
        <label>CONTA APRENDIZ - QUEDA DE ATIVOS</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA APRENDIZ - QUEDA DE ATIVOS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CONTA_EST_GIO_ATIVA</name>
        <label>CONTA ESTÁGIO - ATIVA</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA ESTÁGIO - ATIVA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CONTA_EST_GIO_AUMENTO_DE_ATIVOS</name>
        <label>CONTA ESTÁGIO - AUMENTO DE ATIVOS</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA ESTÁGIO - AUMENTO DE ATIVOS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CONTA_EST_GIO_INATIVA</name>
        <label>CONTA ESTÁGIO - INATIVA</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA ESTÁGIO - INATIVA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CONTA_EST_GIO_QUEDA_DE_ATIVOS</name>
        <label>CONTA ESTÁGIO - QUEDA DE ATIVOS</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CONTA ESTÁGIO - QUEDA DE ATIVOS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Record.CarteiraConsultor__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechamentoTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Modalidade_Produto</name>
        <label>Modalidade/Produto</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aprendiz_Ativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_ativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_APRENDIZ_ATIVA</targetReference>
            </connector>
            <label>Aprendiz Ativa</label>
        </rules>
        <rules>
            <name>Aprendiz_Aumento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_aumento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_APRENDIZ_AUMENTO_DE_ATIVOS</targetReference>
            </connector>
            <label>Aprendiz Aumento</label>
        </rules>
        <rules>
            <name>Aprendiz_Queda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_queda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_APRENDIZ_QUEDA_DE_ATIVOS</targetReference>
            </connector>
            <label>Aprendiz Queda</label>
        </rules>
        <rules>
            <name>Aprendiz_Inativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_aprendiz_inativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_APRENDIZ_INATIVA</targetReference>
            </connector>
            <label>Aprendiz Inativa</label>
        </rules>
        <rules>
            <name>Est_gio_Ativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_ativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_EST_GIO_ATIVA</targetReference>
            </connector>
            <label>Estágio Ativa</label>
        </rules>
        <rules>
            <name>Est_gio_Aumento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_aumento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_EST_GIO_AUMENTO_DE_ATIVOS</targetReference>
            </connector>
            <label>Estágio Aumento</label>
        </rules>
        <rules>
            <name>Est_gio_Queda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_queda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_EST_GIO_QUEDA_DE_ATIVOS</targetReference>
            </connector>
            <label>Estágio Queda</label>
        </rules>
        <rules>
            <name>Est_gio_Inativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Para_uso_do_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>flow_estagio_inativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTA_EST_GIO_INATIVA</targetReference>
            </connector>
            <label>Estágio Inativa</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechamentoTask</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+6</expression>
    </formulas>
    <interviewLabel>[TASK] PERSONA CONSULTOR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TASK] PERSONA CONSULTOR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Modalidade_Produto</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
